*{
  margin: 0;
  font-family: serif;
}
body{
  background-color: rgb(202, 201, 201);
}
.box{
  width: 90%;
  margin: 0 auto;
}


.navbar ul{
  list-style: none;

}
.navbar li{
  display: inline-block;
  width: 80px;
  margin: 20px 20px;
  padding: 20px 25px;
}
.navbar a{
  font-size: 33px;
  text-decoration: none;
  color:rgb(236, 231, 231);
}
#home{
  margin: 30px 15px;
}
#home h1{
  text-align: center;
  margin: 10px 20px;
  padding: 10px 15px;
  font-size: 2rem;
}
.img{
  margin: 20px 20px;

}
.img img{
  width: 100%;
  height: auto;
}
.img cite{
  font-size: 25px;
  margin: 5px 20px;
  padding: 10px 15px;
  color: rgb(17, 31, 160);

}
.text p{
  text-indent: 30px;
  padding: 20px 15px;
  font-size: 26px;
  line-height: 1.4;
  word-spacing: 10px;
}
 .about{
  margin: 15px 20px;

}
 .about h2{
 text-align: center;
 font-size: 30px;
 padding: 10px 10px;
 margin: 12px 10px;
}
.about p{
  font-size: 26px;
  text-indent: 30px;
  line-height: 1.3;
  word-spacing: 10px;
}
.opinion{
  margin: 20px;
}
.opinion div{
  box-sizing: border-box;
  display: flex;
}
.opinion img{
  display: inline-block;
  margin: 10px 20px;
  width: 170px;
  height: 150px;
}
.opinion p{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  padding: 30px 10px;
}
#contact {
  margin: 20px 20px;

}
#contact p{
  padding: 20px 15px;
  font-size: 25px;
}
#contact a{
  color: inherit;
  text-decoration: none;
}

#contact form{
  width: 40%;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 12px 5px 15px rgb(124, 123, 123);
  padding: 20px 30px;
  box-sizing: border-box;
}
#contact h1{
  font-size: 27px;
  text-align: center;
  padding: 10px 0;
  background-color: rgb(238, 31, 31);
  color: #fff;
  margin: 5px 0 10px;
}

#contact input[type=text]{
  width: 75%;
  padding: 7px 8px;
  font-size: 24px;
  margin: 5px 2px;
 
}
#contact label{
  font-size: 25px;
  padding: 5px 3px;
}
#contact input[type=email], input[type=password]{
  font-size: 24px;
  padding: 7px 8px;
  width: 75%;
  margin: 5px 3px;
}
#contact input[type=submit]{
  width: 100%;
  padding: 10px 8px;
  margin: 5px 2px;
  font-size: 28px;
  background-image: linear-gradient(to right, rgb(246, 80, 238), rgb(55, 147, 223),green);
}


